.MenuHome{
  padding-top: 2vh;
  padding-right: 10px;
}
.MenuHome .title{
  margin-left: -2vh;
  font-size: 2em;
  color: #004C84;
  font-weight: bold;
  text-align: center;
}
 .title_m{
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: -2vh;
  font-size: 2em;
  color: #004C84;
  font-weight: bold;
  text-align: center;
}
.profile{
  align-content: center;
}
.logoProfile{
  width: 50px;
  height: 50px;
  margin-left: 1vh;
}
.valueProfile{
  color: #58AEEE;
  font-weight: bold;
}


.Profile{
  padding-top: 2vh;
}

.link_profile{
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  color: #004C84;
}

.body_profile{
  font-size: 1.9em;
  font-weight: bold;
  padding-top: 13vh;
}

.email_profile{
  color: #004C84;
}

.phone_profile{
  font-size: 0.8em;
}

.logoProfile_profile{
  width: 20vh;
}

.Info{
  color: #004C84;
  text-align: left;
  padding-top: 8vh;
}

.space-rigth{
  margin-right: 20px;
}
